*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    height: 866px;
    width: 1440px;
}
.box-box1{
    height:70px;
    /* width: 100vh; */
    padding:16px;
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
header nav{
    display:inline;

}
header nav ul{
    display:inline;

}
header nav ul li {
    display:inline;
}
li{
    display: inline;
}
.box-box2{
    background-image: url(/Landify/img/Background\ Header.svg);
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 div h1{
    /* display: inline; */

    height: 196px;
    width: 730px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;


    font-family: 'Manrope', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: left;

}
.container1 div button {
    height: 62px;
    width: 196px;
    left: 0px;
    top: 228px;
    border-radius: 8px;

    background: #8C30F5;

    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

    color: #FFFFFF;

}
.box2{
    height: 142px;
    width: 1440px;
    padding: 16px 165px;
}
/* 
.container2 div{
    height: 60px;
    width: 891px;

    padding: 16px, 0px, 16px, 0px;

} */
.container2 div .logo-Airbnb{
    margin-right: 64px;
}
.container2 div .logo-HubSpot{
    margin-right: 64px;
}
.container2 div .logo-Google{
    margin-right: 64px;
}
.container2 div .logo-Microsoft{
    margin-right: 64px;
}
.container2 div .logo-Walmart{
    margin-right: 64px;
}

.box3{
    height: 672px;
    width: 1440px;

    padding: 64px 165px;

}
.Main-Head{
    height: 136px;
    width: 540px;
    position: relative;
    left: 285px;
    border-radius: 0px;

}.container3 div h2{
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;

}
.container3 .Main-Head p{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

}
.container3 .items{
    display: flex;
}
.container3 .items h5{
    height: 32px;
    width: 350px;
/* left: 0px;
top: 0px;
border-radius: nullpx; */

    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;

}
.container3 .items p{
    height: 52px;
    width: 350px;
    left: 0px;
    top: 40px;
    border-radius: nullpx;

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}
.groups.group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.container3 .item1 {
    height: 148px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: min-content;
}
.container3 .item2{
    height: 148px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: min-content;
}
.container3 .item3 {
    height: 148px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: min-content;
}
.groups.group2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.container3 .item4 {
    height: 148px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: min-content;
}
.container3 .item5 {
    height: 148px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: min-content;
}
.container3 .item6 {
    height: 148px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: min-content;
}
.box4{
    height: 896px;
    width: 1440px;
    /* left: 0px;
    top: 1680px;
    border-radius: 0px; */

    background: #D5FAFC;

}
.quote {
    height: 168px;
    width: 445px;
    position: relative;
    left: 260px;
    top: 120px;
    border-radius: 0px;

}
.container4 .quote h2{
    height: 128px;
    width: 460px;


    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;

}
.container4 .quote p{
    height: 32px;
    width: 445px;
    left: 0px;
    top: 136px;
    border-radius: nullpx;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;


}
.cards-card1{
    height: 436px;
    width: 350px;
    position: relative;
    left: 355px;
    top: 150px;
    border-radius: 8px;
    padding: 32px;

    background: #FFFFFF;

}
.Hubspot-Quote{
    height: 300px;
    width: 286px;
    position: relative;
    left: 32px;
    top: 32px;
    border-radius: 0px;

}
.Hubspot-Quote .Hubspots-Quote{
    height: 224px;
    width: 254px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.Hubspot-Quote .Hubspots-Founder-Name{
    height: 28px;
    width: 96px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    color: #18191F;

}
.Hubspot-Quote .Hubspots-Founder-Sign{
    height: 24px;
    width: 142px;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    color: #969BAB;

}
.cards-card2{
    height: 340px;
    width: 445px;
    position: relative;
    left: 735px;
    top: -400px;
    border-radius: 8px;
    padding: 32px;

    background: #FFFFFF;

}
.Airbnb-Quote{
    height: 204px;
    width: 381px;
    position: relative;
    left: 32px;
    top: 26px;
    border-radius: 0px;

}
.Airbnbs-Quote{
    height: 128px;
    width: 349px;
    
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.Airbnbs-Founder-Name{
    height: 28px;
    width: 110px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    color: #18191F;
}
.Airbnbs-Founder-Sign{
    height: 24px;
    width: 77px;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #969BAB;


}
.cards-card3{
    height: 276px;
    width: 350px;
    position: relative;
    left: 735px;
    top: -360px;
    border-radius: 8px;
    padding: 32px;

    background: #FFFFFF;

}
.BookMyShow-Quote{
    height: 140px;
    width: 286px;
    position: relative;
    top: 20px;
    left: 10px;

}
.BookMyShows-Quote{
    height: 64px;
    width: 254px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.BookMyShows-Founder-Name{
    height: 28px;
    width: 129px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.BookMyShows-Founder-Sign{
    height: 24px;
    width: 173px;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    color: #969BAB;

}
.box5{
    height: 332px;
    width: 1440px;
    left: 0px;
    top: 2576px;
    border-radius: 0px;
    padding: 80px, 165px, 80px, 165px;

}
.container5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.child1{
    height: 168px;
    width: 540px;
    position: relative;
    left: 165px;
    top: 82px;
    border-radius: 0px;

}
.child1 h2{
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;

}
.child1 p{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.child2 {
    height: 172px;
    width: 540px;
    position: relative;
    top: 80px;

    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.info1{
    display: flex;
}
.info1 h4{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}
.info1 p{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}
.info2{
    display: flex;
}
.info2 h4{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}
.info2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}
.info3{
    display: flex;
}
.info3 h4{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}
.info3 p{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}
.info4{
    display: flex;
}
.info4 h4{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}
.info4 p{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}
.box6{
    height: 668px;
    width: 1440px;
    /* left: 0px;
    top: 2908px;
    border-radius: 0px; */
    padding: 64px 165px;

}
.container6{
    display: flex;
    align-items: center;
    /* justify-content: space-between;
    align-content: space-between; */
}
.Headline{
    height: 308px;
    width: 540px;
    left: 735px;
    top: 180px;
    border-radius: 0px;
    padding: 0px 48px;
}
.Headline h3{
    height: 54px;
    width: 444px;
    left: 48px;
    top: 0px;
    border-radius: nullpx;

    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

}
.Headline p{
    height: 160px;
    width: 444px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    
    position: relative;
    top: 50px;
}
.Headline a{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    text-decoration: none;
    color: #8C30F5;

    position: relative;
    top: 78px;
}
.box7{
    height: 684px;
    width: 1440px;

    padding: 64px 165px;

}
.container7 h3{
    height: 108px;
    width: 540px;

    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

}
.container7 p{
    height: 96px;
    width: 540px;
    position: relative;
    left: 570px;
    top: -106px;
    border-radius: nullpx;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.cover_image{
    height: 400px;
    width: 1110px;
    position: relative;
    /* left: 165px; */
    top: -50px;
    border-radius: 8px;

}
.box8{
    height: 491px;
    width: 1440px;

    background: #2EC5CE;

}
.container8{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.Manage-Projects{
    height: 356.00018310546875px;
    width: 540px;
    position: relative;
    top: 67.99951171875px;
    border-radius: 0px;

}
.container8 h2{
    height: 128px;
    width: 540px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;

    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;

}
.container8 p{
    height: 128px;
    width: 540px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.container8 p.subtitle{
    height: 28px;
    width: 101px;

    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
img.opposite-Image2 {
    position: relative;
    top: 72px;
}
footer{
    height: 280px;
    width: 1440px;
    background: #0B0D17;
}
.container9{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.left{
    height: 168px;
    width: 475px;
    position: relative;
    left: 100px;
    top: 56px;
    border-radius: 0px;

}
.inside-left{
    display: flex;
    flex-direction: column;
}
.Dwn-Now{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
    text-decoration: none;
    display: inline;
    color: #FFFFFF;

    margin-right: 10px;
    /* margin-top: 24px; */
}
.container9 .left .inside-left nav ul li{
    height: 26px;
    width: 45px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    margin-right: 17px;
    color: #FFFFFF;

}
.container9 .left .inside-left p{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    color: #D9DBE1;

}
footer .right{
    color: #D9DBE1;

    display:flex;
    flex-direction: column;
}
